{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h-200">
        <div class="row">
            <div class="header fixed-bottom">
                <h1 class="header logo-font text-white display-3">
                    <strong> Token Design </strong>
                   </h1>
                   </div>
                    <div class="header-location text-white fixed-bottom"> 
                        <p>London - Paris</p>
                    </div>
                    <h4 class="header-text header-paragraph text-white fixed-bottom"> "Elegant inteior design products at great prices"</h4>
        </div>
    </div>
{% endblock %}