html {
    height: 100%;
}

body {
    background: url('/media/homepage_pic.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #555;
    font-family: 'Bellota';
}

.main-logo-link {
    width: fit-content;
}

.search-bar {
    margin-left: 5px;
    padding-left: 0;
}


.up-button {
    text-align: center;
    bottom: 25px;
}

.account {
    margin-right: 0!important;
}

.nav-button {
    top: 25px;
}

.nav {
    margin-left: 0;
    padding-left: 0;
}

.dropdowns {
    padding-right: 0;
}

.header {
    margin-bottom: 70px;
    font-family: 'Bellota';
    text-align: center;
}

.header-text {
    text-align: center;
    bottom: 60px;
    margin-bottom: 20px;
}

.header-location {
    text-align: center;
    bottom: 80px;
    margin-bottom: 20px;
}

.links {
    text-align: center;
}
.nav-location {
    font-size: medium;
    top: 40px;
}

.title {
    padding-left: 0px;
}

.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.category-badge {
    margin-left: 20px;
}

.badge {
    padding-left: 40px;
}

.products-list {
    padding-right: 5px;
}

.text-black {
    color: #000 !important;
}

#main-nav {
    margin-top: 20px;
}

.main-nav {
    margin-bottom: 50px;
    bottom: 20px;
}


.bottom-nav {
    margin-top: 20px;
}


.products-content {
    padding-left: 55px;
}

.empty-cart {
    text-align: center;
}

.border-black {
    border: 1px solid black !important;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: orange;
    color:black;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: black;
    color: white !important;
}



.cover {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1;
}

.product-info {
      text-align: center;
      margin-top: 80px;
}

.page-top {
    padding-top: 200px;
}

.btn-black {
    background: black;
    color: white;
}


.btn-outline-black {
    background: white;
    color: black !important; 
    border: 1px solid black;
}

.image-for-info {
    padding-right: 20px;
}

a.category-badge > span.badge:hover {
    background: #212529 !important;
    color: #fff !important;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

@media (min-width: 1200px) {
    .container {
      max-width: 80%;
    }
  }
  
 
  @media (min-width: 992px) {
      .fixed-top-desktop-only {
          position: fixed;
          top: 0;
          right: 0;
          left: 0;
          z-index: 1030;
      }
  
      .header-container {
          padding-top: 164px;
      }
  }
  
  
  @media (max-width: 991px) {
      .header-container {
          padding-top: 116px;
      }
  
      body {
          height: calc(100vh - 116px);
      }
  }

  


  