html {
    height: 100%;
}

body {
    background: url('/media/homepage_pic.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #555;
    font-family: 'Bellota';
    padding: 0;
}

.main-logo-link {
    width: fit-content;
}

.search-bar {
    margin-right: 0;
    padding-right: 0;
}


.up-button {
    text-align: center;
    bottom: 25px;
}

.account {
    margin-right: 0!important;
}

.nav-button {
    top: 25px;
}

.nav {
    margin-left: 0;
    padding-left: 0;
}

.dropdowns {
    padding-right: 0;
}

.header {
    margin-bottom: 70px;
    font-family: 'Bellota';
    text-align: center;
}

.header-text {
    text-align: center;
    bottom: 60px;
    margin-bottom: 20px;
}

.header-location {
    text-align: center;
    bottom: 80px;
    margin-bottom: 20px;
}

.links {
    text-align: center;
}
.nav-location {
    font-size: medium;
    top: 40px;
}

.title {
    padding-left: 0px;
}

.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.category-badge {
    margin-left: 20px;
}

.badge {
    padding-left: 40px;
}

.products-list {
    padding-right: 5px;
}

.text-black {
    color: #000 !important;
}

#main-nav {
    margin-top: 0px;
}

.nav {
    padding-bottom: 5px!important;
}

.main-nav {
    margin-bottom: 0px;
    bottom: 0px;
    padding-right: 0px!important;
    padding-left: 0px;
    margin-left: 0px;
}



.products-content {
    padding-left: 55px;
}

.empty-cart {
    text-align: center;
}

.border-black {
    border: 1px solid black !important;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: orange;
    color:black;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: black;
    color: white !important;
}



.cover {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1;
}

.product-info {
      text-align: center;
      margin-top: 80px;
}

.page-top {
    padding-top: 200px;
}

.btn-black {
    background: black;
    color: white;
}


.btn-outline-black {
    background: white;
    color: black !important; 
    border: 1px solid black;
}

.image-for-info {
    padding-right: 20px;
}

a.category-badge > span.badge:hover {
    background: #212529 !important;
    color: #fff !important;
}

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

input[name='q']::placeholder {
    color: #aab7c4;
}

.category-links {
    margin-left: 5px;
}


.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #6c757d; /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000;
    border: 1px solid orange;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #fff;
    background-color:orange;
    border-color: #222;
}

.allauth-form-inner-content a {
	color: #139e70; /* text-info */
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

@media (min-width: 1200px) {
    .container {
      max-width: 80%;
    }
  }
  
 
  @media (min-width: 992px) {
      .fixed-top-desktop-only {
          position: fixed;
          top: 0;
          right: 0;
          left: 0;
          z-index: 1030;
      }
  
      .header-container {
          padding-top: 164px;
      }
  }
  
  
  @media (max-width: 991px) {
      .header-container {
          padding-top: 116px;
      }
  
      body {
          height: calc(100vh - 116px);
      }
  }

  


  